<form action="admin" enctype="multipart/form-data" method="POST">
    <label for="exampleFormControlFile1">Selet one category</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="category" id="exampleRadios1" value="animals">
        <label class="form-check-label" for="exampleRadios1">
            Animals
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="category" id="exampleRadios1" value="birds">
        <label class="form-check-label" for="exampleRadios1">
            Birds
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="category" id="exampleRadios1" value="people">
        <label class="form-check-label" for="exampleRadios1">
            People
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="category" id="exampleRadios1" value="cars">
        <label class="form-check-label" for="exampleRadios1">
            Cars
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="category" id="exampleRadios1" value="stationary">
        <label class="form-check-label" for="exampleRadios1">
            Stationary
        </label>
    </div>

    <div class="form-group">

        <input type="file" class="form-control-file" id="image" name="image">
        <button type="submit" class="btn btn-success mt-4"> Submit</button>
    </div>
</form>

<table class="table mt-5" id="productsTable">
    <tbody>
        {{#each category}}
        <tr>
            <th>{{this.category}}</th>
            <th><img style="width: 50px; height:50px" src="/images/{{this._id}}.jpg" alt=""></th>
        </tr>
        {{/each}}

    </tbody>
</table>