<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Email Verification</h2>
            <form action="signin2" method="POST">
                <div class="form-group">
                    <label for="">PIN</label>
                    <input type="Password" class="form-control" name="password" placeholder="Enter PIN" required>

                </div>
                <button type="submit" class="btn btn-primary float-right">Next</button>
            </form>
        </div>
    </div>
</div>