<h2>Select images</h2>

<table class="table mt-5" id="productsTable">
    <tbody>
        {{#each alphaImageArray}}
        <tr>

            <th>
            <td><img style="width: 100px; height:100px" src="/images/{{this.imageId}}.jpg" alt=""></td>
            </th>
            <th>
            <td>
                {{this.alpha}}
            </td>
            </th>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<br>
<form action="welcome" method="POST">
    <div class="input-group mb-3" style="position: fixed;bottom: 0;">
        <input type="password" class="form-control" name="password" placeholder="Enter Password"
            aria-label="Recipient's username" aria-describedby="basic-addon2" required>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary float-right">Done</button>
        </div>
    </div>
</form>
