<ul class="list-group p-2"></ul>
<h2>Select min of 4 images by typing the corresponding alphanumeric value in the textbox</h2>

<li class="list-group-item p-3">
    <table class="table mt-5" id="productsTable">

        <tbody>
            {{#each category}}
            <tr>
                <th>
                <td>{{this.category}}</td>
                </th>
                <th>
                <td><img style="width: 50px; height:50px" src="/images/{{this._id}}.jpg" alt=""></td>
                </th>
                <th>
                <td>
                    {{this.alpha}}
                </td>
                </th>
            </tr>
            {{/each}}

        </tbody>
    </table>
    <form action="endRegistration" method="POST">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
        <button type="submit" class="btn btn-primary float-left">Done</button>
    </form>

</li>

</ul>