<form action="signup3" method="POST">
    <label class="form-check-label" for="defaultCheck1">
            Select a minimum of 2 Categories
        </label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="animals" id="defaultCheck1" name="category">
        <label class="form-check-label" for="defaultCheck1">
            Animals
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="birds" id="defaultCheck1" name="category">
        <label class="form-check-label" for="defaultCheck1">
            Birds
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="people" id="defaultCheck1" name="category">
        <label class="form-check-label" for="defaultCheck1">
            People
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="cars" id="defaultCheck1" name="category">
        <label class="form-check-label" for="defaultCheck1">
            Cars
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="stationary" id="defaultCheck1" name="category">
        <label class="form-check-label" for="defaultCheck1">
            Stationary
        </label>
    </div>


    <button type="submit" class="btn btn-primary mt-4"> Next</button>
</form>